@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

table {
    margin: 50px auto;
    padding: 20px;
    border: 2px solid goldenrod;
    border-collapse: collapse;
    font-family: Dosis;
    font-weight: bold;
    width: 60%;
}
th {
    border: 1px solid goldenrod;
    background: #ffd707;
    padding: 20px;
    text-align: center;
}
th:nth-child(2) {
    background: goldenrod;}
td {
    border: 2px solid goldenrod;
    background: #510896;
    color: white;
    padding: 20px;
    text-align: left;
    ;
}
